.siblingEdgeIcon {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ancestorEdgeChild,
.ancestorEdgeInner,
.ancestorEdgeItem,
.frameIcon {
  align-self: stretch;
  width: 160px;
  max-height: 100%;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 86px;
  debug_commit: f6aba90;
}
.frameChild {
  height: 100%;
  width: 148.4px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.vectorIcon {
  height: 24.6px;
  width: 31.7px;
  position: relative;
  z-index: 1;
}
.ancestorEdge,
.container,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  flex-direction: row;
  padding: var(--padding-11xl-6) var(--padding-44xl-9) var(--padding-11xl-8)
    var(--padding-45xl-4);
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.ancestorEdge,
.container {
  width: 782px;
  max-width: 100%;
}
.ancestorEdge {
  border-radius: var(--br-5xs);
  overflow-x: auto;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.container {
  height: 539px;
  flex-direction: column;
  gap: var(--gap-mini);
  min-width: 782px;
}
.brightwoodsCabin {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
}
.bridlepathOntarioCanada {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
}
.brightwoodsCabinParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 281px;
  max-width: 100%;
}
.heartIcon {
  height: 36px;
  width: 36px;
  position: relative;
}
.div,
.siblingsSubtree {
  display: flex;
  align-items: center;
}
.siblingsSubtree {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  max-width: 100%;
}
.div {
  height: 11px;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  min-width: 25px;
}
.vectorIcon1 {
  height: 16px;
  width: 16px;
  position: relative;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.reviews {
  position: relative;
  text-decoration: underline;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 95px;
}
.reviewsWrapper {
  border-left: 1px solid var(--light-grey-border);
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-6xs);
  color: var(--accent);
}
.frameGroup,
.leafSubtrees,
.reviewsWrapper {
  display: flex;
  justify-content: flex-start;
}
.frameGroup {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
  font-size: var(--font-size-base);
}
.leafSubtrees {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.welcomeToOur {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  line-height: 160%;
}
.leafSubtreesParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
  max-width: 100%;
}
.b,
.night {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
}
.b {
  min-width: 88px;
  white-space: nowrap;
}
.night {
  height: 12px;
  min-width: 48px;
}
.group,
.nightWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nightWrapper {
  flex-direction: column;
  padding: var(--padding-lg-5) 0 0;
  font-size: var(--font-size-lg);
}
.group {
  flex-direction: row;
  gap: var(--gap-11xs);
}
.icon {
  position: absolute;
  height: 43.33%;
  width: 63.11%;
  top: 28.89%;
  right: 18.45%;
  bottom: 27.78%;
  left: 18.45%;
  border-radius: var(--br-12xs-5);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameItem {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -7.28%;
  bottom: -8.33%;
  left: 0;
  border-radius: var(--br-9xs-5);
  border: 1.5px solid var(--accent);
  box-sizing: border-box;
  z-index: 1;
}
.iconParent {
  position: absolute;
  height: 81.82%;
  width: 93.64%;
  top: 9.09%;
  right: 3.18%;
  bottom: 9.09%;
  left: 3.18%;
}
.icontrend {
  height: 22px;
  width: 22px;
  position: relative;
}
.bestTimeTo {
  position: relative;
  letter-spacing: 0.02em;
}
.bestTimeToBookWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.icontrendParent {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.frameDiv,
.frameWrapper,
.icontrendParent {
  display: flex;
  align-items: flex-start;
}
.frameWrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs-5) 0 0;
  font-size: var(--font-size-base);
  color: var(--accent);
}
.frameDiv {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.searchFlightsButton {
  align-self: stretch;
  height: 58px;
}
.frameContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  font-size: var(--font-size-17xl);
}
.hostedBy {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 80px;
}
.dataProcessorIcon {
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.joinedInMay,
.michelleWard {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
}
.michelleWard {
  line-height: 150%;
  font-weight: 600;
  min-width: 108px;
}
.joinedInMay {
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  min-width: 125px;
}
.controlCenter {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-11xs);
  min-width: 188px;
}
.inputFilterIcon {
  height: 18.4px;
  width: 12.3px;
  position: relative;
}
.superhost {
  height: 11px;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.01em;
  font-weight: 500;
  font-family: var(--font-archivo);
  color: var(--accent);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 75px;
}
.formatter,
.signalBoost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.signalBoost {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-2xs);
  background-color: var(--color-lightcyan);
  border-radius: var(--br-mid);
  gap: var(--gap-8xs);
}
.signalBoost:hover {
  background-color: var(--color-powderblue);
}
.formatter {
  align-self: stretch;
  border-top: 0.7px solid var(--light-grey-border);
  padding: var(--padding-5xs) 0 0;
  gap: var(--gap-3xs);
  color: var(--dark);
}
.branchSubtrees,
.connection,
.subtreeConnectionPlus {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.subtreeConnectionPlus {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
  color: var(--light-text);
}
.branchSubtrees,
.connection {
  gap: var(--gap-9xl);
  max-width: 100%;
}
.branchSubtrees {
  flex: 1;
  border-radius: var(--br-6xs);
  background-color: var(--white);
  border: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-18xl-5) var(--padding-8xl);
  min-width: 344px;
}
.connection {
  align-self: stretch;
  flex-direction: row;
  text-align: left;
  font-size: var(--font-size-10xl);
  color: var(--dark);
  font-family: var(--font-archivo);
}
@media screen and (max-width: 1275px) {
  .container {
    flex: 1;
  }
  .connection {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .siblingsSubtree {
    flex-wrap: wrap;
  }
  .b {
    font-size: var(--font-size-10xl);
  }
  .formatter {
    flex-wrap: wrap;
  }
  .branchSubtrees {
    padding-top: var(--padding-5xl);
    padding-bottom: var(--padding-5xl);
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .brightwoodsCabin {
    font-size: var(--font-size-4xl);
  }
  .b {
    font-size: var(--font-size-3xl);
  }
  .frameDiv {
    flex-wrap: wrap;
  }
  .searchFlightsButton {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
